@import "grid";

$soft-gray: #ebedee;

* {
    box-sizing: border-box;
}

html {
    width: 100%;
}

@mixin clearfix {
    &::after {
        content: "";
        clear: both;
        display: table;
    }
}

@mixin center {
    margin: 0 auto;
}

@mixin border-test {
    border: 1px solid $soft-gray;
}

[class*="col-"] {
    float: left;
    padding: 12px;
    border: 1px solid $soft-gray;
    overflow: hidden;
    background-color: lighten($soft-gray, 5%);
}

.container-full {
    width: 100%;
    @include border-test();
}

.container {
    max-width: 1200px;
    @include border-test();
    @include center();
}

.row {
    @include clearfix();
}

$small: 768px;
$medium: 960px;
$normal: 1160px;

[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: $small) {
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}

@media only screen and (min-width: $medium) {
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}

@media only screen and (min-width: $normal) {
    .col-n-1 {width: 8.33%;}
    .col-n-2 {width: 16.66%;}
    .col-n-3 {width: 25%;}
    .col-n-4 {width: 33.33%;}
    .col-n-5 {width: 41.66%;}
    .col-n-6 {width: 50%;}
    .col-n-7 {width: 58.33%;}
    .col-n-8 {width: 66.66%;}
    .col-n-9 {width: 75%;}
    .col-n-10 {width: 83.33%;}
    .col-n-11 {width: 91.66%;}
    .col-n-12 {width: 100%;}
}
